@import url(https://fonts.googleapis.com/css?family=Montserrat:700);
@import url(https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy:400italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);


* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #BDA990;
	font-family: 'Open Sans', sans-serif;
	font-size: .94em; /*1em=16px*/
	position: relative; /*question: confused about why I have position: relative here*/
}

header {
	background-color: #FFED74;
	border: 1px black solid;
	width: 1200px;
	margin: 0 auto;
    padding: 20px; /*question: confused about whether to use padding or margin here*/
}

nav {
	background-color: #E8C66A;
	margin: auto;
	border: 1px black solid;
}

nav a {
	font-family: 'Allerta', sans-serif;
	color:#fff;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: .125em;
	padding: 1.25em .94em ; /*note: I've used padding to increase the hover space;
	margin: 0 .63em; /*note: I've used margins to seperate each link outside of the hover space*/
	text-decoration: none;
/*	width: question: not sure about the width for this selector?*/
	float: right;
}

nav a:hover {
	color: #55868b;
	opacity: 0.5;
}

main {
	width: 1200px;
	margin: 20px auto;
}

section {
/*	background: url(../images/ubimage01.jpg) no-repeat center center scroll; */
	margin: 20px 0; /*question: confused about whether to use padding or margin here*/
	text-align: center;
	padding
}

article {
	background-color: #E89C6C;
	text-align: center;
	display: block;
	margin: 1.4em 0; /*note: margin is to space articles apart*/ /*question: should I have a margin value for left and right?*/
	border: 1px black solid;
    padding: 1.4em 0; /*note: padding is to ensure content isn't on the edge;*/
}

footer {
	background-color: #FF957E;
	margin: auto;
	border: 1px black solid;
	padding: 20px;
	width: 1200px;
}

footer a {
	font-family: 'Allerta', sans-serif;
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 600px;
	letter-spacing: .125em;
	padding: 1.25em .94em ;
	margin: 0 .63em;
	text-decoration: none;
	float: right;
}

h1, h2, h3, h4 { /*question: should I use this instead of padding/margins?*/
	color: #640906;
	letter-spacing: normal;
	line-height: 1.4em; 
	text-align: center;
}

h1 {
 	font-family: Montserrat, sans-serif;
 	font-size: 3.75em;
 	font-style: normal;
 	font-weight: bold;
 	text-transform: uppercase;
}

h2 {
	font-family: 'Sorts Mill Goudy', Georgia, serif;
  	font-size: 1.875em;
  	font-style: italic;
  	font-weight: 600;
}

h3 {
	font-family: 'Sorts Mill Goudy', Georgia, serif;
  	font-size: 1.56em;
  	font-style: italic;
  	font-weight: bold;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-size: .94em;
	line-height: 1.4em;
	color: #041543;
/*	padding: question: should I use padding on text?*/
	text-align: center;
	display: block;
	width: 30em;
	margin: auto; /*note: this centers the selector*/
}

ul {
    list-style-type: none;
}

li {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
    line-height: 1.4em;
	color: #041543;
    text-align: center;
}

/*aside {
	font-size: 15px;
	float: right;
	padding: 20px;
	background-color: #BDA990;
	text-align: right;
}*/

.clearfix:after {
	display: block;
	content: " ";
	clear: both;

	height: 0;
	font-size: 0;
	visibility: hidden;
}

.article-image {
	position: relative;
	display: block;
	max-width: 1200px;
	margin: 0 auto 1.6em auto; /*question: why not just use the padding attribute in the article selector?*/
}

.column-left {
	float: left;
	width: 600px;
	background-color: #FFE2B8;
	margin: 1.4em 0; /*note: margin is to space articles apart*/ /*question: should I have a margin value for left and right?*/
	border: 1px black solid;
    padding: 1.4em 0; /*note: padding is to ensure content isn't on the edge;*/
}

.columnleft-image {
	position: relative;
	display: block;
	max-width: 500px;
	margin: 0 auto 1.6em auto;
}

.column-right {
	float:right;
	width: 600px;
	background-color: #FFE2B8;
	margin: 1.4em 0; /*note: margin is to space articles apart*/ /*question: should I have a margin value for left and right?*/
	border: 1px black solid;
    padding: 1.4em 0; /*note: padding is to ensure content isn't on the edge;*/
}

#wrapper {
	width: 1300px;
	margin-left: auto;
	margin-right: auto; 
}


